@page "/"
@layout ComponentPageLayout
<PageTitle>ShowCase Home</PageTitle>

<h1 class="app-page-heading">
       Welcome to TELBlazor ShowCase
</h1>            
<p class="nhsuk-lede-text app-lede-text">The links below open a new tab related to TELBlazor</p>

<ul class="nhsuk-list app-side-nav__list">
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://raw.githubusercontent.com/TechnologyEnhancedLearning/TELBlazor/refs/heads/master/README.md" target="_blank" rel="noopener noreferrer">
            Easy viewing of TELBlazor Repo ReadMe (best with Markdown Reader Chrome extension)
        </a>
    </li>
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://github.com/orgs/TechnologyEnhancedLearning/packages?tab=packages&q=TELBlazor" target="_blank" rel="noopener noreferrer">
            Last Published Package
        </a>
    </li>
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://github.com/TechnologyEnhancedLearning/TELBlazor" target="_blank" rel="noopener noreferrer">
            TELBlazor
        </a>
    </li>
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://technologyenhancedlearning.github.io/TELBlazor/" target="_blank" rel="noopener noreferrer">
            TELBlazor Production Showcase
        </a>
    </li>
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://technologyenhancedlearning.github.io/TELBlazor-DevShowCase/" target="_blank" rel="noopener noreferrer">
            TELBlazor Dev Showcase
        </a>
    </li>
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://technologyenhancedlearning/TELBlazor-DevShowCase/tree/gh-pages/" target="_blank" rel="noopener noreferrer">
            View Packaged Dev Showcase Code
        </a>
    </li>
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://github.com/TechnologyEnhancedLearning/TELBlazor/tree/gh-pages/" target="_blank" rel="noopener noreferrer">
            View Packaged Showcase Code
        </a>
    </li>
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://technologyenhancedlearning.github.io/TELBlazor-CodeReport/" target="_blank" rel="noopener noreferrer">
            Code Report Page
        </a>
    </li>
    <li class="app-side-nav__item">
        <a class="app-side-nav__link" href="https://github.com/TechnologyEnhancedLearning/nhse-tel-frontend" target="_blank" rel="noopener noreferrer">
            NHSE TEL Frontend
        </a>
    </li>
</ul>