<p class="nhsuk-tag--green">!!!!!! Change example !!!!!!</p>
<p class="nhsuk-tag--red">!!!!!! If im red we are getting nhsuk-tag-red !!!!!!</p>
<p class="scoped-css-simple-counter-red">if im red we have scoped css (though for our scenario we probably will solely rely on nhsuk)</p>
