@inherits LayoutComponentBase
@layout MainLayout
<h3 class="shared-pages-red-text">If im red we are getting SharedPage app.css class shared-pages-red-text</h3>
<h1>Component Page Layout</h1>
@Body
<h1>Component Page Layout</h1>

@code {
    //qqqq tidy before first commit, and soon after put in a proper layout
}
