@inherits LayoutComponentBase
@layout MainLayout
<div class="app-pane__main-content">
<p class="shared-pages-red-text">If im red we are getting SharedPage app.css class shared-pages-red-text</p>
<h1>Component Page Layout</h1>
<hr/>
@Body
<hr />
<h1>Component Page Layout</h1>
</div>
@code {
    //qqqq tidy before first commit, and soon after put in a proper layout
}
