@using TELBlazor.Components.TELBlazorPackageVersion @*Can we get this from the assembly?  qqqq*@
@inherits LayoutComponentBase

<span class="version-display">TELBlazor.Components Version: @TELBlazor.Components.TELBlazorPackageVersion.VersionInfo.Version</span>
<span class="version-display">TELNHSUK VersionL To do qqqq: 00.00.00-beta</span>





<div>
    <div id="nhsuk-cookie-banner">
        <div class="nhsuk-cookie-banner" id="cookiebanner">
            <div class="nhsuk-width-container">
                <h2>Cookies on the NHS digital service manual</h2>
                <p>We've put some small files called cookies on your device to make our site work.</p>
                <p>We'd also like to use analytics cookies. These send anonymous information about how our site is used to a service called Adobe Analytics. We use this information to improve our site.</p>
                <p>Let us know if this is OK. We'll use a cookie to save your choice. You can <a id="nhsuk-cookie-banner__link" href="/cookie-policy" tabindex="1">read more about our cookies</a> before you choose.</p>
                <ul>
                    <li><button class="nhsuk-button" id="nhsuk-cookie-banner__link_accept_analytics" href="#" tabindex="2">I'm OK with analytics cookies</button></li>
                    <li><button class="nhsuk-button" id="nhsuk-cookie-banner__link_accept" href="#" tabindex="3">Do not use analytics cookies</button></li>
                </ul>
            </div>
        </div>

        <div class="nhsuk-success-banner" id="nhsuk-cookie-confirmation-banner" style="display:none;">
            <div class="nhsuk-width-container">
                <p id="nhsuk-success-banner__message">You can change your cookie settings at any time using our <a href="/cookie-policy">cookies page</a>.</p>
            </div>
        </div>
    </div>
    <style>
        @font-face{font-family:'Frutiger W01';font-display:swap;font-style:normal;font-weight:400;src:url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix");src:url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix") format("eot"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2") format("woff2"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff") format("woff"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.ttf") format("truetype"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115") format("svg")}@font-face{font-family:'Frutiger W01';font-display:swap;font-style:normal;font-weight:600;src:url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix");src:url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix") format("eot"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2") format("woff2"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff") format("woff"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.ttf") format("truetype"),url("https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca") format("svg")}#nhsuk-cookie-banner{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:Frutiger W01,Arial,Sans-serif;color:#212b32}#nhsuk-cookie-banner a{color:#005eb8}#nhsuk-cookie-banner a:visited{color:#330072}#nhsuk-cookie-banner a:hover{color:#7C2855;text-decoration:none}#nhsuk-cookie-banner a:focus{background-color:#ffeb3b;box-shadow:0 -2px #ffeb3b,0 4px #212b32;color:#212b32;outline:4px solid transparent;text-decoration:none}#nhsuk-cookie-banner a:focus:hover{text-decoration:none}#nhsuk-cookie-banner a:focus:visited{color:#212b32}#nhsuk-cookie-banner a:focus .nhsuk-icon{fill:#212b32}#nhsuk-cookie-banner a:active{color:#002f5c}@media print{#nhsuk-cookie-banner a:after{color:#212b32;content:" (Link: " attr(href) ")";font-size:14pt}}#nhsuk-cookie-banner .ie8 a:focus{outline:1px dotted #212b32}#nhsuk-cookie-banner .nhsuk-width-container{margin:0 16px;max-width:1100px}@media (min-width: 48.0625em){#nhsuk-cookie-banner .nhsuk-width-container{margin:0 32px}}@media (min-width: 1024px){#nhsuk-cookie-banner .nhsuk-width-container{margin:0 auto}}#nhsuk-cookie-banner .nhsuk-width-container-fluid{margin:0 16px;max-width:100%}@media (min-width: 48.0625em){#nhsuk-cookie-banner .nhsuk-width-container-fluid{margin:0 32px}}#nhsuk-cookie-banner .nhsuk-button{font-weight:400;font-size:16px;font-size:1rem;line-height:1.5;margin-bottom:28px;-webkit-appearance:none;background-color:#007f3b;border:2px solid transparent;border-radius:4px;box-shadow:0 4px 0 #00401e;box-sizing:border-box;color:#fff;cursor:pointer;display:inline-block;font-weight:600;margin-top:0;padding:12px 16px;position:relative;text-align:center;vertical-align:top;width:auto}@media (min-width: 40.0625em){#nhsuk-cookie-banner .nhsuk-button{font-size:19px;font-size:1.1875rem;line-height:1.47368}}@media print{#nhsuk-cookie-banner .nhsuk-button{font-size:14pt;line-height:1.15}}@media (min-width: 40.0625em){#nhsuk-cookie-banner .nhsuk-button{margin-bottom:36px}}@media (max-width: 40.0525em){#nhsuk-cookie-banner .nhsuk-button{padding:8px 16px}}#nhsuk-cookie-banner .nhsuk-button:link,#nhsuk-cookie-banner .nhsuk-button:visited,#nhsuk-cookie-banner .nhsuk-button:active,#nhsuk-cookie-banner .nhsuk-button:hover{color:#fff;text-decoration:none}#nhsuk-cookie-banner .nhsuk-button::-moz-focus-inner{border:0;padding:0}#nhsuk-cookie-banner .nhsuk-button:hover{background-color:#00662f}#nhsuk-cookie-banner .nhsuk-button:focus{background:#ffeb3b;box-shadow:0 4px 0 #212b32;color:#212b32;outline:4px solid transparent}#nhsuk-cookie-banner .nhsuk-button:active{background:#00401e;box-shadow:none;color:#fff;top:4px}#nhsuk-cookie-banner .nhsuk-button::before{background:transparent;bottom:-6px;content:'';display:block;left:-2px;position:absolute;right:-2px;top:-2px}#nhsuk-cookie-banner .nhsuk-button:active::before{top:-6px}#nhsuk-cookie-banner .nhsuk-button--secondary{background-color:#4c6272;box-shadow:0 4px 0 #263139}#nhsuk-cookie-banner .nhsuk-button--secondary:hover{background-color:#384853}#nhsuk-cookie-banner .nhsuk-button--secondary:focus{background:#ffeb3b;box-shadow:0 4px 0 #212b32;color:#212b32;outline:4px solid transparent}#nhsuk-cookie-banner .nhsuk-button--secondary:active{background:#263139;box-shadow:none;color:#fff;top:4px}#nhsuk-cookie-banner .nhsuk-button--secondary.nhsuk-button--disabled{background-color:#4c6272}#nhsuk-cookie-banner .nhsuk-button--reverse{background-color:#fff;box-shadow:0 4px 0 #212b32;color:#212b32}#nhsuk-cookie-banner .nhsuk-button--reverse:hover{background-color:#f2f2f2;color:#212b32}#nhsuk-cookie-banner .nhsuk-button--reverse:focus{background:#ffeb3b;box-shadow:0 4px 0 #212b32;color:#212b32;outline:4px solid transparent}#nhsuk-cookie-banner .nhsuk-button--reverse:active{background:#212b32;box-shadow:none;color:#fff;top:4px}#nhsuk-cookie-banner .nhsuk-button--reverse:link{color:#212b32}#nhsuk-cookie-banner .nhsuk-button--reverse.nhsuk-button--disabled{background-color:#fff}#nhsuk-cookie-banner .nhsuk-button--reverse.nhsuk-button--disabled:focus{background-color:#fff}#nhsuk-cookie-banner .nhsuk-button--disabled,#nhsuk-cookie-banner .nhsuk-button[disabled="disabled"],#nhsuk-cookie-banner .nhsuk-button[disabled]{background-color:#007f3b;opacity:0.5;pointer-events:none}#nhsuk-cookie-banner .nhsuk-button--disabled:hover,#nhsuk-cookie-banner .nhsuk-button[disabled="disabled"]:hover,#nhsuk-cookie-banner .nhsuk-button[disabled]:hover{background-color:#007f3b;cursor:default}#nhsuk-cookie-banner .nhsuk-button--disabled:focus,#nhsuk-cookie-banner .nhsuk-button[disabled="disabled"]:focus,#nhsuk-cookie-banner .nhsuk-button[disabled]:focus{background-color:#007f3b;outline:none}#nhsuk-cookie-banner .nhsuk-button--disabled:active,#nhsuk-cookie-banner .nhsuk-button[disabled="disabled"]:active,#nhsuk-cookie-banner .nhsuk-button[disabled]:active{box-shadow:0 4px 0 #00401e;top:0}#nhsuk-cookie-banner .nhsuk-button--secondary[disabled="disabled"],#nhsuk-cookie-banner .nhsuk-button--secondary[disabled]{background-color:#4c6272;opacity:0.5}#nhsuk-cookie-banner .nhsuk-button--secondary[disabled="disabled"]:hover,#nhsuk-cookie-banner .nhsuk-button--secondary[disabled]:hover{background-color:#4c6272;cursor:default}#nhsuk-cookie-banner .nhsuk-button--secondary[disabled="disabled"]:focus,#nhsuk-cookie-banner .nhsuk-button--secondary[disabled]:focus{outline:none}#nhsuk-cookie-banner .nhsuk-button--secondary[disabled="disabled"]:active,#nhsuk-cookie-banner .nhsuk-button--secondary[disabled]:active{box-shadow:0 4px 0 #263139;top:0}#nhsuk-cookie-banner .nhsuk-button--reverse[disabled="disabled"],#nhsuk-cookie-banner .nhsuk-button--reverse[disabled]{background-color:#fff;opacity:0.5}#nhsuk-cookie-banner .nhsuk-button--reverse[disabled="disabled"]:hover,#nhsuk-cookie-banner .nhsuk-button--reverse[disabled]:hover{background-color:#fff;cursor:default}#nhsuk-cookie-banner .nhsuk-button--reverse[disabled="disabled"]:focus,#nhsuk-cookie-banner .nhsuk-button--reverse[disabled]:focus{outline:none}#nhsuk-cookie-banner .nhsuk-button--reverse[disabled="disabled"]:active,#nhsuk-cookie-banner .nhsuk-button--reverse[disabled]:active{box-shadow:0 4px 0 #212b32;top:0}#nhsuk-cookie-banner .ie8 .nhsuk-button:focus{outline:1px dotted #212b32}#nhsuk-cookie-banner .nhsuk-cookie-banner{background:white;position:relative;box-shadow:0 0 4px 0 #212b32;padding:24px 0 19px;width:100%;z-index:1}#nhsuk-cookie-banner h2{margin-bottom:16px;display:block;font-weight:600;color:#212b32;margin-top:0;font-size:18px;line-height:1.125}@media (min-width: 40.0625em){#nhsuk-cookie-banner h2{margin-bottom:24px}}@media (min-width: 40.0625em){#nhsuk-cookie-banner h2{font-size:22px;line-height:1.375}}#nhsuk-cookie-banner p{margin-bottom:16px;display:block;margin-top:0;font-size:16px;line-height:1.5}@media (min-width: 40.0625em){#nhsuk-cookie-banner p{margin-bottom:24px}}@media (min-width: 40.0625em){#nhsuk-cookie-banner p{font-size:19px;line-height:1.47368}}#nhsuk-cookie-banner a{font-weight:normal}#nhsuk-cookie-banner .nhsuk-button{margin-bottom:12px;display:inline-block;vertical-align:top;font-family:inherit;font-size:16px;line-height:1.5}@media (min-width: 40.0625em){#nhsuk-cookie-banner .nhsuk-button{margin-bottom:12px}}@media (min-width: 40.0625em){#nhsuk-cookie-banner .nhsuk-button{font-size:19px;line-height:1.47368}}#nhsuk-cookie-banner ul,#nhsuk-cookie-banner li{list-style:none;padding:0;margin:0}@media (min-width: 48.0625em){#nhsuk-cookie-banner li{display:inline;margin-right:20px}}#nhsuk-cookie-banner .nhsuk-success-banner{background-color:#007f3b;color:#fff;padding:8px 0 8px 0;position:relative}#nhsuk-cookie-banner .nhsuk-success-banner p{margin:0}#nhsuk-cookie-banner .nhsuk-success-banner a,#nhsuk-cookie-banner .nhsuk-success-banner a:visited{color:#fff}#nhsuk-cookie-banner .nhsuk-success-banner a:hover,#nhsuk-cookie-banner .nhsuk-success-banner a:focus{color:#212b32}#nhsuk-cookie-banner p{padding:0px;font-size:16px}@media (min-width: 40.0625em){#nhsuk-cookie-banner p{font-size:19px}}#nhsuk-cookie-banner a{text-decoration:underline;font-size:16px}@media (min-width: 40.0625em){#nhsuk-cookie-banner a{font-size:19px}}#nhsuk-cookie-banner a:hover{text-decoration:none}
    </style>
</div>
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>





<header class="nhsuk-header app-header__container" role="banner">

    <div class="nhsuk-header__container">
        <div class="nhsuk-header__logo">
            <a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS digital service manual homepage">
                <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
                    <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
                    <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
                </svg>
                <span class="nhsuk-header__service-name">
                    Digital service manual
                </span>
            </a>
        </div>    <div class="nhsuk-header__content" id="content-header">
            <div class="nhsuk-header__search">
                <div class="nhsuk-header__search-wrap" id="wrap-search">
                    <form class="nhsuk-header__search-form" id="search" action="/search/" method="get" role="search">
                        <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
                        <input class="nhsuk-search__input" id="search-field" name="search-field" type="search" placeholder="Search" autocomplete="off">
                        <button class="nhsuk-search__submit" type="submit">
                            <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                            </svg>
                            <span class="nhsuk-u-visually-hidden">Search</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-navigation-container">
        <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
            <ul class="nhsuk-header__navigation-list">
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="/service-standard">
                        NHS service standard
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="/design-system">
                        Design system
                    </a>
                </li>
                <li class="nhsuk-header__navigation-item">
                    <a class="nhsuk-header__navigation-link" href="/content">
                        Content guide
                    </a>
                </li>
                <li class="nhsuk-mobile-menu-container nhsuk-mobile-menu-container--visible">
                    <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link nhsuk-header__menu-toggle--visible" id="toggle-menu" aria-expanded="false">
                        <span class="nhsuk-u-visually-hidden">Browse</span>
                        More
                        <svg class="nhsuk-icon nhsuk-icon__chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                        </svg>
                    </button>
                    <ul class="nhsuk-header__drop-down nhsuk-header__drop-down--hidden">
                        <li class="nhsuk-header__navigation-item">
                            <a class="nhsuk-header__navigation-link" href="/accessibility">
                                Accessibility
                            </a>
                        </li>
                        <li class="nhsuk-header__navigation-item">
                            <a class="nhsuk-header__navigation-link" href="/community-and-contribution">
                                Community and contribution
                            </a>
                        </li>
                        <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--home">
                            <a class="nhsuk-header__navigation-link" href="/">
                                Home
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>



<div class="nhsuk-width-container app-width-container">

    <nav class="nhsuk-breadcrumb app-breadcrumb" aria-label="Breadcrumb">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/design-system">Design system</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/design-system/components">Components</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="/design-system/components">
                <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
                Components
            </a>
        </p>
    </nav>

    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s app-main-wrapper" id="maincontent" role="main">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full app-component-reading-width">

                <div class="app-pane">

                    <div class="app-pane__side-bar">

                        <nav class="app-side-nav">
                            <h2 class="app-side-nav__heading">Form elements</h2>
                            <ul class="nhsuk-list app-side-nav__list">
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/buttons">Buttons</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/character-count">Character count</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/checkboxes">Checkboxes</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/date-input">Date input</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/error-message">Error message</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/error-summary">Error summary</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/fieldset">Fieldset</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/hint-text">Hint text</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/radios">Radios</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/select">Select</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/text-input">Text input</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/textarea">Textarea</a></li>
                            </ul>

                            <h2 class="app-side-nav__heading">Content presentation</h2>
                            <ul class="nhsuk-list app-side-nav__list">
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/care-cards">Care cards</a></li>
                                <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/design-system/components/details">Details</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/do-and-dont-lists">Do and Don't lists</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/expander">Expander</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/images">Images</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/inset-text">Inset text</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/panel">Panel</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/review-date">Review date</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/summary-list">Summary list</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/table">Table</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/tabs">Tabs</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/tag">Tag</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/task-list">Task list</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/warning-callout">Warning callout</a></li>
                            </ul>

                            <h2 class="app-side-nav__heading">Navigation</h2>
                            <ul class="nhsuk-list app-side-nav__list">
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/action-link">Action link</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/back-link">Back link</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/breadcrumbs">Breadcrumbs</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/card">Card</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/contents-list">Contents list</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/footer">Footer</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/header">Header</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/pagination">Pagination</a></li>
                                <li class="app-side-nav__item"><a class="app-side-nav__link" href="/design-system/components/skip-link">Skip link</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="app-pane__main-content">
                        QQQQ Component layout here
                        <TELBlazorPackageVersionInformation />
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


<footer role="contentinfo">
    <div class="app-footer__container nhsuk-footer-container">
        <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/accessibility-statement" disabled>Accessibility statement</a></li>
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/cookie-policy" disabled>Cookie policy</a></li>
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/get-in-touch" disabled>Get in touch</a></li>
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/service-manual-team" disabled>Service manual team</a></li>
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/site-map" disabled>Site map</a></li>
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/terms-and-conditions" disabled>Terms and conditions</a></li>
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/whats-new" disabled>What's new</a></li>
                <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item"><a class="nhsuk-footer__list-item-link" href="/your-privacy" disabled>Your privacy</a></li>
            </ul>
            <div>
                <p class="nhsuk-footer__copyright">© NHS England</p>
            </div>
        </div>
    </div>
    <div class="app-ogl-footer">
        <div class="nhsuk-width-container app-width-container">
            <p class="app-ogl-footer--text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41" focusable="false">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                </svg>
                All content is available under the <a class="nhsuk-footer__list-item-link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated.
            </p>
        </div>
    </div>
</footer>








@code {
    //qqqq tidy before first commit, and soon after put in a proper layout
}

