@using TELBlazor.Components.TELBlazorPackageVersion @*Can we get this from the assembly?  qqqq*@
@inherits LayoutComponentBase

<span class="version-display">TELBlazor.Components Version: @TELBlazor.Components.TELBlazorPackageVersion.VersionInfo.Version</span>
<span class="version-display">TELNHSUK VersionL To do qqqq: 00.00.00-beta</span>
<TELBlazorPackageVersionInformation/>
<h1>Main Page Layout</h1>
@Body
<h1>Main Page Layout</h1>



@code{
    //qqqq tidy before first commit, and soon after put in a proper layout
}

