<h1 class="nhsuk-tag--green">!!!!!! Change example !!!!!!</h1>
<h3>Simple Counter</h3>
<p class="nhsuk-tag--red">!!!!!! If im red we are getting nhsuk-tag-red !!!!!!</p>
<p class="scoped-css-simple-counter-red">if im red we have scoped css (though for our scenario we probably will solely rely on nhsuk)</p>

<button class="btn btn-primary" @onclick="IncrementCount">
  surely not A Build aaa(@currentCount)
</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    //qqqq to test if working delete later
}