<nav class="app-side-nav">
    <h2 class="app-side-nav__heading">TELBlazor Components</h2>
    <ul class="nhsuk-list app-side-nav__list">
@*         <li class="app-side-nav__item"><NavLink class="app-side-nav__link" href="" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="app-side-nav__item"><NavLink class="app-side-nav__link" href="CssSourceCheckerPage">CssSourceCheckerPage</NavLink></li>
        <li class="app-side-nav__item"><NavLink class="app-side-nav__link" href="TELButtonPage">TELButtonPage</NavLink></li> *@
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="/">Home</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="CssSourceChecker">CssSourceChecker</a></li>
        <li class="app-side-nav__item"><a class="app-side-nav__link" href="TELButton">TELButton</a></li>
    </ul>
</nav>
                    